@using Microsoft.EntityFrameworkCore
@using ZooShop.Components
@* @using Microsoft.AspNetCore.Identity *@
@using System.Security.Claims
@inject ZooShop.Infrastructure.Data.ZooShopDbContext _context


<ul class="navbar-nav ms-left">
    @foreach (var animal in _context.Categories
    .Include(c => c.AccessoryCategories) // Зареждаме връзката AccessoryCategories
    .ThenInclude(ac => ac.Accessory)     // Зареждаме самите аксесоари
    .ToList())
    {
        // Извличаме списък с аксесоарите
        var accessories = animal.AccessoryCategories
        .Select(ac => ac.Accessory) // Взимаме аксесоарите
        .ToList();

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown@animal.Name" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @animal.Name
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown@animal.Name">
                @if (accessories.Any())
                {
                    @foreach (var accessory in accessories)
                    {
                        <li>
                            <a class="dropdown-item" href="/Accessory/Index?category=@animal.Name&accessory=@accessory.Name">
                                @accessory.Name
                            </a>
                        </li>
                    }
                }
                else
                {
                    <li><span class="dropdown-item text-muted">Няма аксесоари</span></li>
                }
            </ul>
        </li>
    }
</ul>






